@{
    Layout = "_Layout_NoNavBar";
}
<h1>注册账户 <span class="badge badge-secondary">New</span></h1>
<form class="form-signin">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">邮件</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">手机号码</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">密码</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">再次确认密码</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">所在高校</label>
            <select id="inputState" class="form-control">
                <option selected>选择...</option>
                <option>...</option>
            </select>
            <label for="inputState">省市</label>
            <select id="inputState" class="form-control">
                <option selected>选择...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">注册</button>
</form>
