<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>小工具</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Utils_HHI" asp-action="Index">快乐交作业</a></li>
        <li class="breadcrumb-item active" aria-current="page">成功页面</li>
    </ol>
</nav>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">上传成功</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>