
@model CTB.Service.NavBar.INavBarService;

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>小工具</a></li>
        <li class="breadcrumb-item active" aria-current="page">快乐交作业</li>
    </ol>
</nav>