<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link asp-href-include="css/bootstrap.css" asp-href-exclude="~/css/all.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link asp-href-include="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.css"
              asp-fallback-href="~/css/all.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              rel="stylesheet" />
    </environment>

</head>
<body>
    @*Navbar*@
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CampusToolbox</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown-divider"></div>
            <div class="form-row" style="padding-left:1rem">
                <div class="col-auto">
                    <input class="form-control" type="search" placeholder="(=￣ω￣=)" aria-label="(=￣ω￣=)">
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-success" type="submit">搜索</button>
                </div>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        小工具
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Utils_HHI" asp-action="Index">快乐交作业</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="#">敬请期待</a>
                    </div>
                </li>
            </ul>
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">登陆 <span class="sr-only">(current)</span></a>
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">注册 <span class="sr-only">(current)</span></a>
        </div>
    </nav>
   
    @*Navbar Directory*@
    <vc:nav-bar-view-components></vc:nav-bar-view-components>
    <div>
        @RenderBody()
    </div>
    <p class="mt-5 mb-3 text-muted text-center">&copy;cyf 2019</p>
    
    @*Include JS*@
    <environment include="Development">
        <script src="~/js/all.min.js"></script>
        <script src="~/js/part.min.js"></script>

    </environment>

    <environment exclude="Development">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/js/part.min.js"
                asp-fallback-test="Window.jQuery"></script>
    </environment>

</body>
</html>
